+++
title = "Macula"
linkTitle = "Macula Website"

+++

{{< blocks/cover title="Macula" image_anchor="top" height="auto" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		快速开始 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/macula-projects/macula-framework">
		GITHUB <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Macula是基于Spring Boot和Spring Cloud Alibaba 的微服务开发框架及面向企业级的一系列服务</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Macula主要包含微服务开发框架macula-framework、管理后台macula-base、批处理macula-batch、统一认证macula-oauth2、基于KONG的API网关以及微前端门户macula-portal
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="开发框架" %}}
基于spring-boot和spring-cloud-alibaba开发的用于单体或者微服务应用开发的框架，基于阿里巴巴微服务生态搭建的微服务治理体系
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="管理后台" %}}
支撑系统运行的统一管理后台，包括系统管理、用户中心、权限管理、文档中心、配置管理、网关管理、批处理管理以及低代码开发等功能
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="批处理" %}}
批处理集中调度中心，支持单任务和可视化的工作流任务配置
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="统一认证" %}}
标准的Oauth2.0协议，包括支持密码、短信验证码、微信、企业微信、运营商手机号等多种登录方式
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="API网关" %}}
API网关是基于KONG二次定制的，集成了认证服务、权限控制等插件
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="微前端门户" %}}
业务后端的总入口，可以将多个微服务管理后端通过微前端的方式集成成一个整体的后端系统
{{% /blocks/feature %}}

{{< /blocks/section >}}



{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">欢迎使用和反馈</h1>
</div>

{{< /blocks/section >}}
